@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "./variables.scss";
@import "./github-languages-colors.scss";

/* General styles */
* {
    font-family: "Montserrat", sans-serif;
    outline: none;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media (min-width: 769px) {
    body,
    html {
        background-color: #f8fafb;
    }
}

/* Navbar */
#nav {
    background-color: white;
    .router-link-active {
        text-decoration: none;
    }
    .nav {
        display: none;
    }
    @media (max-width: 769px) {
        .nav-mobile {
            display: flex;
            align-items: center;
            padding: 5px 20px;
            position: relative;
            img {
                width: 16px;
                height: 16px;
                margin-right: 10px;
            }
            p {
                font-size: 14px;
                font-weight: 600;
                color: black;
            }
            &::after {
                content: "";
                background-color: #90a4ae;
                width: 90%;
                height: 1px;
                position: absolute;
                bottom: 0;
            }
        }
    }
    @media (min-width: 769px) {
        .nav-mobile {
            display: none;
        }
        .nav {
            display: flex;
            align-items: center;
            box-shadow: $shadow;
            &__logo {
                width: 50px;
                height: 50px;
                margin-left: 230px;
            }
            &__title {
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                color: black;
                margin-left: 5px;
            }
        }
    }
}

/* Search View */
.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        width: 290px;
        .invalid {
            &__input {
                border-color: $red;
            }
            &__label {
                text-align: left;
                color: $red;
                padding: 5px 0;
                font-size: 0.8rem;
            }
        }
        &-image {
            width: 140px;
            height: 140px;
            margin: 0 auto;
        }
        &-input {
            width: 240px;
            height: 30px;
            border-radius: 4px;
            border: 1px solid #e0e0e0;
            padding: 5px 25px;
            margin: 0 auto;
        }
        &-actions {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            button {
                width: 135px;
                height: 50px;
                border-radius: 4px;
                border: none;
                color: white;
                font-weight: 600;
                cursor: pointer;
                &.blue-bg {
                    background-color: $blue;
                }
                &.green-bg {
                    background-color: $green;
                }
            }
        }
    }
}

/* Show Users View */
.show-users {
    margin: 0 auto;
    background-color: white;
    box-shadow: $shadow;
    padding: 20px;
    .scroll-to-top {
        background-color: $blue;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        color: white;
        font-size: 1.2rem;
        box-shadow: $shadow;
    }
    &__search {
        input {
            height: 35px;
            width: 80%;
            border-radius: 5px;
            position: relative;
            box-shadow: 0px 0px 2px rgb(0 0 0 / 50%);
            border: none;
            padding-left: 35px;
        }
        .fa-search {
            color: #ededed;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 30px;
            z-index: 1;
            top: 85px;
        }
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin-top: 15px;
        &__user {
            height: 75px;
            display: flex;
            align-items: center;
            border-bottom: 0.5px solid #90a4ae;
            &:last-child {
                border-bottom: none;
            }
            img {
                width: 50px;
                border-radius: 50%;
                height: 50px;
                border: 5px solid #f2f2f2;
                margin-right: 20px;
            }
            p {
                font-size: 15px;
                font-weight: 600;
                color: $dark-blue;
            }
        }
    }
}

@media (min-width: 1201px) {
    .show-users {
        width: 900px;
        margin-top: 50px;
        box-shadow: $shadow;
        padding: 80px;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            &__user {
                width: 180px;
                height: 270px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid #dedede;
                box-sizing: border-box;
                &:last-child {
                    border: 1px solid #dedede;
                }
                img {
                    width: 100px;
                    margin: 0;
                    height: 100px;
                }
            }
        }
    }
}

/* Profile View */
.profile {
    &__header {
        height: 145px;
        position: relative;
        background: url("../images/profile-cover.png");
        background-size: cover;
        background-position: center;
        &-user-info {
            text-align: center;
            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 5px solid #eceff1;
                margin-top: 42px;
            }
            h2 {
                margin: 0;
                color: $dark-blue;
            }
            h4 {
                margin: 5px 0;
                color: #90a4ae;
                font-weight: 400;
                i {
                    font-size: 10px;
                    vertical-align: baseline;
                }
            }
        }
    }
    &__actions {
        display: flex;
        justify-content: space-around;
        margin-top: 110px;
        &-action {
            text-align: center;
            color: $dark-blue;
            font-weight: 600;
            i {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
            span {
                margin-left: 5px;
            }
            p {
                margin-top: 10px;
                font-size: 14px;
                white-space: break-spaces;
            }
        }
    }
    &__tabs {
        &-buttons {
            margin-top: 10px;
            button {
                width: 50%;
                height: 50px;
                border: 3px solid transparent;
                font-weight: 600;
                background-color: #f7f9fa;
                color: black;
                &.active {
                    border-bottom: 3px solid $blue;
                }
                &:first-child {
                    border-right: 1px solid #dae5f0;
                }
            }
        }
        &-content {
            padding: 20px 25px;
            h3 {
                color: $dark-blue;
                font-weight: 600;
                font-size: 18px;
            }
            h4 {
                font-size: 16px;
                color: $dark-blue;
                font-weight: 600;
                margin: 10px;
            }
            .extra-information {
                span {
                    display: flex;
                    align-items: center;
                }
                svg {
                    color: $dark-blue;
                    margin-right: 5px;
                }
            }
            .project {
                h3 {
                    a {
                        font-size: 14px;
                        color: #0366d6;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
                p {
                    font-weight: 600;
                    color: #586069;
                    font-size: 10px;
                }
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                &:last-child {
                    border: none;
                }
                &__footer {
                    font-size: 8px;
                    display: flex;
                    justify-content: space-between;
                    &-language {
                        display: flex;
                        align-items: center;
                        .language-circle {
                            width: 8px;
                            height: 8px;
                            display: block;
                            border-radius: 50%;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
