@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "./variables.scss";

/* General styles */
* {
    font-family: "Montserrat", sans-serif;
    outline: none;
}

body,
html {
    background-color: #f8fafb;
    margin: 0;
    padding: 0;
}

/* Navbar */
#nav {
    background-color: white;
    .router-link-active {
        text-decoration: none;
    }
    .nav {
        display: none;
    }
    .nav-mobile {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        position: relative;
        img {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
        p {
            font-size: 14px;
            font-weight: 600;
            color: black;
        }
        &::after {
            content: "";
            background-color: #90a4ae;
            width: 90%;
            height: 1px;
            position: absolute;
            bottom: 0;
        }
    }
    @media (min-width: 769px) {
        .nav {
            display: flex;
            align-items: center;
            &__logo {
                width: 50px;
                height: 50px;
            }
            &__title {
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                color: black;
                margin-left: 5px;
            }
        }
    }
}

/* Search View */
.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        width: 290px;
        .invalid {
            &__input {
                border-color: $red;
            }
            &__label {
                text-align: left;
                color: $red;
                padding: 5px 0;
                font-size: 0.8rem;
            }
        }
        &-image {
            width: 140px;
            height: 140px;
            margin: 0 auto;
        }
        &-input {
            width: 240px;
            height: 30px;
            border-radius: 4px;
            border: 1px solid #e0e0e0;
            padding: 5px 25px;
            margin: 0 auto;
        }
        &-actions {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            button {
                width: 135px;
                height: 50px;
                border-radius: 4px;
                border: none;
                color: white;
                font-weight: 600;
                cursor: pointer;
                &.blue-bg {
                    background-color: $blue;
                }
                &.green-bg {
                    background-color: $green;
                }
            }
        }
    }
}

/* Show Users View */
.show-users {
    margin: 0 auto;
    background-color: white;
    box-shadow: $shadow;
    padding: 20px;
    &__search {
        input {
            height: 35px;
            width: 80%;
            border-radius: 5px;
            position: relative;
            box-shadow: 0px 0px 2px rgb(0 0 0 / 50%);
            border: none;
            padding-left: 35px;
        }
        .fa-search {
            color: #ededed;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 30px;
            z-index: 1;
            top: 85px;
        }
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin-top: 15px;
        &__user {
            height: 75px;
            display: flex;
            align-items: center;
            border-bottom: 0.5px solid #90a4ae;
            &:last-child {
                border-bottom: none;
            }
            img {
                width: 50px;
                border-radius: 50%;
                height: 50px;
                border: 5px solid #f2f2f2;
                margin-right: 20px;
            }
            p {
                font-size: 15px;
                font-weight: 600;
                color: $dark-blue;
            }
        }
    }
}
